node_modules
**/node_modules
dist
**/dist
*.tsbuildinfo
**/*.tsbuildinfo
.git
.github
data
.env
.env.*
!.env.example
**/.env
coverage
**/*.spec.ts
apps/web
.DS_Store
.omc
apps/.claude
*.md
!apps/server/README.md
